:root{
    --main-color: #d1b48c;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
    color: #fff;
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    position: relative;
    letter-spacing: 0.1rem;
}

.heading::after {
    content: '';
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 0.3rem;
    background-color: var(--main-color);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../imagens-de-cafeteria/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
}

.home .content{
    max-width: 60rem;
    position: relative;
    z-index: 1;
}

.home .content h1{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#eee;
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border:var(--border);
}

.menu .box-container .box img{
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.menu .box-container .box h3{
    color:#fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color:#fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background-color: #222;
}

.reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.reviews .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.reviews .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#eee;
    padding:2rem 0;
}

.reviews .box-container .box .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .box-container .box .user h3{
    color:#fff;
    font-size: 2rem;
    padding: .5rem 0;
}

.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row {
    justify-content: center; 
}

.contact .row .map {
    flex: 1 1 45rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .row .map iframe {
    width: 100%;
    max-width: 100%;
    height: 30rem;
    border: 0;
}


.footer{
    background: var(--black);
    text-align: center;
    padding: 2.5rem;
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
}

.footer .credit span{
    color:var(--main-color);
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right:-100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h1{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}

.whatsapp-contato,
.instagram-contato,
.facebook-contato {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.whatsapp-contato img,
.instagram-contato img,
.facebook-contato img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.whatsapp-contato a,
.instagram-contato a,
.facebook-contato a {
  text-decoration: none;
  color: #958585;
}

.whatsapp-contato a:hover {
  color: #25D366; /* Verde WhatsApp */
}

.instagram-contato a:hover {
  color: #E1306C; /* Rosa Instagram */
}

.facebook-contato a:hover {
  color: #1877F2; /* Azul Facebook */
}


